# Project exclude paths
/target/
/.classpath
/.idea/.gitignore
/.settings/.jsdtscope
/.project
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/src/main/webapp/templates/forex-view.template.html
/.idea/libraries/Maven__commons_codec_commons_codec_1_11.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Maven__io_undertow_jastow_jastow_2_1_0_Final.xml
/.idea/libraries/Maven__io_undertow_undertow_core_2_1_1_Final.xml
/.idea/libraries/Maven__io_undertow_undertow_servlet_2_1_1_Final.xml
/.idea/libraries/Maven__javax_servlet_jsp_javax_servlet_jsp_api_2_3_3.xml
/.idea/libraries/Maven__javax_servlet_jstl_1_2.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_12.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_13.xml
/.idea/libraries/Maven__org_eclipse_jdt_core_compiler_ecj_4_6_1.xml
/.idea/libraries/Maven__org_glassfish_javax_el_3_0_1_b08.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_1_Final.xml
/.idea/libraries/Maven__org_jboss_metadata_jboss_metadata_common_13_0_0_Final.xml
/.idea/libraries/Maven__org_jboss_metadata_jboss_metadata_web_13_0_0_Final.xml
/.idea/libraries/Maven__org_jboss_spec_javax_annotation_jboss_annotations_api_1_3_spec_2_0_1_Final.xml
/.idea/libraries/Maven__org_jboss_spec_javax_servlet_jboss_servlet_api_4_0_spec_2_0_0_Final.xml
/.idea/libraries/Maven__org_jboss_threads_jboss_threads_3_1_0_Final.xml
/.idea/libraries/Maven__org_jboss_xnio_xnio_api_3_8_0_Final.xml
/.idea/libraries/Maven__org_jboss_xnio_xnio_nio_3_8_0_Final.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_config_5_3_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_core_5_3_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_web_5_3_2_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_2_6_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_2_6_RELEASE.xml
/.idea/libraries/Maven__org_wildfly_client_wildfly_client_config_1_0_1_Final.xml
/.idea/libraries/Maven__org_wildfly_common_wildfly_common_1_5_2_Final.xml
/.idea/misc.xml
/.idea/modules.xml
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.eclipse.wst.common.component
/.settings/org.eclipse.wst.common.project.facet.core.xml
/.settings/org.eclipse.wst.jsdt.ui.superType.container
/.settings/org.eclipse.wst.jsdt.ui.superType.name
/.settings/org.eclipse.wst.validation.prefs
/undertow-jsp.iml
/.idea/vcs.xml
